{
	"deploy": {
		"production": {
			"user": "root",
			"host": ["rocket.chat"],
			"ref": "origin/master",
			"repo": "https://github.com/RocketChat/Rocket.Chat.Hubot.git",
			"path": "/var/www/hubot",
			"post-deploy": "source build.sh production"
		}
	}
}
