{
	"apps": [{
		"name": "hubot",
		"max_memory_restart": "1024M",
		"log_date_format": "YYYY-MM-DD HH:mm:ss SSS",
		"script": "bin/hubot",
		"exec_interpreter": "bash",
		"args": "--adapter rocketchat",
		"watch": ["package.json", "external-scripts.json", "scripts/", "hubot-scripts.json", "HUBOT_GITHUB_EVENT_NOTIFIER_TYPES=issues,pull_request,push bin/hubot"],
		"out_file": "/var/log/hubot/app.log",
		"error_file": "/var/log/hubot/err.log",
		"port": "8079",
		"env": {
			"ROCKETCHAT_URL": "localhost:8080",
			"ROCKETCHAT_USER": "hubot",
			"ROCKETCHAT_ROOM": "GENERAL",
			"ROCKETCHAT_PASSWORD": "",
			"PORT": "8079",
			"HUBOT_GITHUB_EVENT_NOTIFIER_TYPES": "issues,pull_request,push"
		}
	}]
}
