{
	"apps": [{
		"name": "rocketbot",
		"max_memory_restart": "1024M",
		"log_date_format": "YYYY-MM-DD HH:mm:ss SSS",
		"script": "bin/hubot",
		"exec_interpreter": "bash",
		"args": "--adapter rocketchat",
		"watch": ["package.json", "external-scripts.json", "scripts/", "hubot-scripts.json", "bin/hubot"],
		"out_file": "/var/log/rocketbot/app.log",
		"error_file": "/var/log/rocketbot/err.log",
		"port": "8070",
		"env": {
			"ROCKETCHAT_URL": "localhost:8080",
			"ROCKETCHAT_ROOM": "GENERAL",
			"ROCKETCHAT_USER": "rocketbot",
			"ROCKETCHAT_PASSWORD": "",
			"PORT": "8070"
		}
	}]
}
